<nav class="navbar navbar-dark sidebar bg-dark flex-md-nowrap p-0">
  <a routerLink="home" class="navbar-brand col-sm-3 col-md-2 mr-0">SFY</a>
      <div class="sidebar sticky h-100">
        <ul class="nav flex-lg-row">
          <li class="nav-item"><a routerLink="home" class="nav-link btn"><span data-feather="home"></span>Home</a></li>
          <li class="nav-item"><a routerLink="register" class="nav-link btn"><span>Login</span></a></li>
          <li class="nav-item"><a routerLink="home" class="nav-link btn"><span>Contact</span></a></li>
          <li class="nav-item"><a routerLink="home" class="nav-link btn"><span></span>Services</a></li>
        </ul>
      </div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap"><a routerLink="home" class="nav-link">Sign Out</a></li>
  </ul>
</nav>

