<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <section class="cards row">
    <div class="card border-primary mb-3 col col" >
      <div class="card-body text-primary ">
        <img src="../../../assets/icons8-man-with-piggy-bank-50.png" class="rounded img-top card-img" alt="...">
        
        <p class="card-header">Juniour account</p>
        <p class="card-text">This account aims at instilling a savings culture in children at a young age.</p>
      </div>
    </div>
    <div class="card border-primary mb-3 col" >
      <div class="card-body text-primary ">
        <img src="../../../assets/icons8-safe-48.png" class="rounded img-top card-img" alt="...">
        
        <p class="card-header">Fixed Deposit Account</p>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card border-primary mb-3 col" >
      <div class="card-body text-primary ">
        <img src="../../../assets/icons8-airplane-take-off.gif" class="rounded img-top card-img" alt="...">
        
        <p class="card-header">Mavuno</p>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card border-primary mb-3 col" >
      <div class="card-body text-primary ">
        <img src="../../../assets/icons8-submit-progress.gif" class="rounded img-top card-img" alt="...">
       
        <p class="card-header">SAVINGS</p>
        <p class="card-text"></p>
      </div>
    </div><div class="card border-primary mb-3 col" >
      <div class="card-body text-primary ">
        <img src="../../../assets/icons8-submit-progress.gif" class="rounded img-top card-img" alt="...">
       
        <p class="card-header">Holiday Account</p>
        <p class="card-text"></p>
      </div>
    </div><div class="card border-primary mb-3 col" >
      <div class="card-body text-primary ">
        <img src="../../../assets/icons8-submit-progress.gif" class="rounded img-top card-img" alt="...">
       
        <p class="card-header">Education account</p>
        <p class="card-text"></p>
      </div>
    </div>
  </section>
</div>
