.cards {
  animation: animate__fadeInDownBig;
  animation-duration: 3s;
  
}
.card {
  border:none;
  padding: 5px;
  margin: 20px;
  min-width: 10rem;
  min-height: 10rem;
}
.card-body:hover {
  color: magenta;
}
.card-body>img:hover{
  color-scheme: azure;
}
.card-body>img {
  padding: 20px;
  height: 20rem;
  min-height:18rem;
}
.card-header {
  font-weight: 600;
  font-size: large;
  font-family: 'Lato';
  color: black;
  align-items: center;
}
.card-text {
  font-weight: 300;
  font-size: small;
  font-family: 'Lato';
  color: black;
}