.cover-container {
  background: gray;
}

.card {
  border:none;
  padding: 5px;
  margin: 20px;
  min-width: 10rem;
  min-height: 10rem;
}
.card-body:hover {
  color: magenta;
}
.card-body>img:hover{
  color-scheme: azure;
}
.card-body>img {
  padding: 20px;
  max-height:20rem;
}