<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <section class="cards row">
    <div class="card border-primary mb-3 col col" >
      <div class="card-body text-primary card-img-overlay">
        <img src="https://img.icons8.com/bubbles/50/000000/man-with-piggy-bank.png" class="card-img" alt="...">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card border-primary mb-3 col" >
      <div class="card-body text-primary card-img-overlay">
        <img src="https://img.icons8.com/bubbles/50/000000/man-with-piggy-bank.png" class="card-img" alt="...">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card border-primary mb-3 col" >
      <div class="card-body text-primary card-img-overlay">
        <img src="https://img.icons8.com/bubbles/50/000000/man-with-piggy-bank.png" class="card-img" alt="...">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card border-primary mb-3 col" >
      <div class="card-body text-primary card-img-overlay">
        <img src="https://img.icons8.com/bubbles/50/000000/man-with-piggy-bank.png" class="card-img" alt="...">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div><div class="card border-primary mb-3 col" >
      <div class="card-body text-primary card-img-overlay">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div><div class="card border-primary mb-3 col" >
      <div class="card-body text-primary card-img-overlay">
        <img src="https://img.icons8.com/bubbles/50/000000/man-with-piggy-bank.png" class="card-img" alt="...">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </section>
</div>
